h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    letter-spacing: 1pt;
    font-size: 30pt;
    text-align: center;
    text-decoration: underline;
    color: white;
}

body{
    background-image: url(../image/background2.jpg);
    background-size: cover;
}

img{
    align-self: center;
    width: 32%;
    height: 32%;
    float:left;
    padding: 5px;
    border-radius: 10%;
}
